@font-face {
	font-family: 'parabole' ;
	src: url(Parabole.ttf);
}


body
	{
	
		width: 100%; height: 100%; margin: 0 ;
		Position: fixed; /* garder le body en full screen responsive ??? (first methode concluante)*/

		background-color: black;
		background-image: url("first.png");
		background-size: cover;
		background-attachment: fixed;

		display: flex;
	}

H1
	{
		margin: auto;
		font-size: 4.5em;
		font-family: 'parabole';
		font-weight: lighter;
		position: center;
	}

A 
	{
		text-decoration: none;
		color: WHITE; /*style pour couleur text */
	} 
	