/*font face*/
@font-face /*parabole*/
{
	font-family: 'parabole';
	src: url(Parabole.ttf);
}
@font-face /*hagrid regular*/
{
	font-family: 'hagrid';
	src: url(Hagrid-Regular-trial.ttf);
}
@font-face /*hagrid thin*/
{
	font-family: 'hagridthin';
	src: url(Hagrid-Thin-trial.ttf);
}


/* media screen*/
.background {z-index: 1;}
header {z-index: 3;}
section {z-index: 2;}


 
body {
	background-color: black;
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(9, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	overflow: hidden;
	
	margin: 0;
	padding: 0;
	
	color: white;
	}
	
	.background { grid-area: 1 / 1 / 10 / 17; }
	header { grid-area: 1 / 1 / 3 / 17; }
	section { grid-area: 3 / 1 / 10 / 17; }
	

/* BACKGROUND */
.background {

width: 100vw;
height: 100vh;

position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
overflow: hidden;

background-color: black;


}

.background::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	backdrop-filter: blur(150px);

}

.blur {
	width: 150vw;
	height: 130vh;
	position: absolute;
	border-radius: 50%;
	
}


.blur:nth-child(1) {
	background-color: #001EE3;
	top: 35%;
	left: 50%;

}

.blur:nth-child(2) {
	background-color: #F4501E;
	bottom: 30%;
	right: 50%;
}


/* CONTENT */


header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	
	
}

.btn { 
	font-size: 7em;
	padding: 0;
	margin: 0px 30px;
	text-decoration: none;
	color: white;
	font-family: 'hagrid';

	transition: transform 2s;

}

.btn:hover {
	transform: rotate(360deg) scale(1.12);
}

nav { 
	width: 60vw;
	display: flex;
	margin: 60px 30px;
	justify-content: space-evenly;
	
}

nav div {
	display: flex;
	flex-direction: column;
	font-family: 'parabole';
	font-size: 1.05em;
	color: #F4501E;
}

nav img {
	border: solid white 0.5px;
	cursor: pointer;
} 

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;


}

h1 {
	margin: 0;
	font-size: 5em;
	font-family: 'parabole';
}

.nb {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: lighter;
	font-style: italic;
}

.mini {
	font-family: 'hagrid';
	font-size: 0.3em ;
	font-weight: lighter;
	position: relative;
	bottom: 40px;
	
}

p{
	
	margin: 0;
	font-family: 'hagridthin';
	font-style: italic;
	font-weight:bold ;
	font-size:0.7em ;
	text-align: center;
	

}

.recherche {
	margin: 30px;
}

input { 
	width: 35vw;
	height: 6vh;
	font-size: 1.05EM;
	color: white;
	font-family: 'hagrid';
	background-color:rgba(255, 255, 255, 0.1); 

}

input:focus-visible {
	outline: none;
}

.plus {
	margin: 5px 0;
	
	font-family: 'hagridthin';
	font-weight: bold;
	width: 8vw;
	cursor: pointer;
}

.plus:hover{
	text-decoration: 0.5px underline;
    text-underline-offset: 3px ;
	
}

.filtre { 
	background-color: #001EE3;
	border-radius: 10px;
	font-size: 0.9em;
	font-family: 'parabole';
	cursor: pointer;

	
	width: 8vw;
	margin: 7px 0;
	padding: 5px;

}





