/*font face*/
@font-face /*parabole*/
{
	font-family: 'parabole';
	src: url(Parabole.ttf);
}
@font-face /*hagrid regular*/
{
	font-family: 'hagrid';
	src: url(Hagrid-Regular-trial.ttf);
}
@font-face /*hagrid thin*/
{
	font-family: 'hagridthin';
	src: url(Hagrid-Thin-trial.ttf);
}

body {
	background-color: black;
	overflow: hidden;
	color: white;

    /*.background {
        z-index: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        background-color: black;
        
        &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            -webkit-backdrop-filter: blur(150px);
            backdrop-filter: blur(150px);
            z-index: 0;
            
        }

        .blur {
            width: 150vw;
            height: 130vh;
            position: absolute;
            border-radius: 50%;
            z-index: 0;
            
            &:nth-child(1) {
                background-color: #001EE3;
                top: 35%;
                left: 50%;
            
            }
            
            &:nth-child(2) {
                background-color: #F4501E;
                bottom: 30%;
                right: 50%;
            }
        }
        
    }*/
}

header {
	display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: space-around;
	z-index: 2;
    border: red solid;
    position: relative;

    .btn { 
        font-size: 7rem;
        text-decoration: none;
        color: white;
        font-family: 'hagrid';
        cursor: pointer;
        position: absolute;
        left: 1rem;
        top: 0;
        
        transition: transform 2s;
    
    }

    nav { 
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
        padding-left: 1rem;
        gap: 2rem;
        align-items: flex-start;
        translate: -100%;

        img {
            display: none;
        }

        div{
            display: flex;
            flex-direction: column;
            font-family: 'parabole';

            &:nth-child(2){
                transform: translateX(2rem);
                transition: transform 1500ms;
            }

        }
    }
	
}



